@(request: play.mvc.Http.Request, webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>

<html>
    <head>
        <title>WebSockets With Akka Streams</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @Html(webJarsUtil.css("bootstrap.min.css"))
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    </head>
    <body data-ws-url="@routes.HomeController.ws.webSocketURL(request)">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">WebSockets With Akka Streams</a>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 60px;">
            <a href="javascript:void(0);" id="addDataSetButton" class="btn btn-primary">Click to add new dataset</a>
            <ul id="resultList">
            </ul>
        </div>


        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("jquery.flot.js"))
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </body>
</html>
